@font-face{
    font-family: 'Archivo-Regular'; 
    src: url("./font/Archivo-Regular.ttf");
    /* font-weight: normal; */
}
@font-face{
    font-family: 'Archivo-BoldItalic'; 
    src: url("./font/Archivo-BoldItalic.ttf");
}
@font-face{
    font-family: 'Archivo-Italic'; 
    src: url("./font/Archivo-Italic.ttf");
}